@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* topo da página */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

body {
    /* background-color: #201627; */
    background: linear-gradient( 160deg, #461b65, #201627, #250e35);
}

header {
    background-color: #8F5ED6;
    width: 100%;
    display: inline-flex;
    justify-content: space-around   ;
    align-items: center;
    padding: 15px 0 15px 0;
}

.logo {
    text-align: center;
    cursor: pointer;
}

.logo img {
    height: 7.5vh;
}

header h1 {
    text-align: center;
    font-size: 20px;
}

header .lista ul {
    list-style-type: none;
    display: inline-flex;
    gap: 15px;
    font-size: 20px;
    /* melhor contraste do q o branco */
    color: black;
}

header .lista ul a {
    color: black;
    text-decoration: none;
}

header .lista ul li:hover, header .lista ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* meio da pag */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .banner {
    width: 100%;
}

main .banner img {
    width: 100%;
}

.div-sobre-nos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75vw;
    color: white;
}

.div-sobre-nos h1, 
.div-maps h1,
.div-detalhes-empresa h1,
.div-video h1,
.div-produtos h1:not(.detalhes-escrita h1) {
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    font-size: 2vw;
    color: white;
}

.div-sobre-nos p {
    font-size: 1.25vw;
    text-align: center;
}

.div-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    color: white;
}

.div-maps div iframe {
    border-radius: 15px;
}

.div-maps div {
    border: 3px dashed #8F5ED6;
    border-radius: 15px;
    padding: 5px;
    border-image-source: linear-gradient(#8343dd, #e046be);
    border-image-slice: 1;
}

.div-detalhes-empresa, .div-video {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    color: white;
}

.div-detalhes-empresa section {
    display: inline-flex;
    gap: 7.5vw;
}

.div-detalhes-empresa section div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.div-detalhes-empresa section div h1 {
    font-size: 1.75vw;
    text-align: center;
}

.div-detalhes-empresa section div p {
    text-align: justify;
    font-size: 1.25vw;
}

.div-video iframe {
    border-radius: 15px;
    border: 3px dashed;
    padding: 5px;
    border-image-source: linear-gradient(#8343dd, #e046be);
    border-image-slice: 1;
}

footer {
    margin-top: 50px;
    background-color: #402960;
    padding: 25px 0;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer nav ul li {
    font-size: 1vw;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

footer nav ul li:hover {
    text-decoration: underline;
}

footer nav ul li img {
    height: 1vw;
    filter: invert(1) brightness(2);
}

.logo-footer h1 {
    font-size: 1.5vw;
}



/* PÁINA DE PRODUTOS */
.div-produtos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    color: rgb(180, 180, 180);
}

.grid-produtos {
    display: grid;
    /* 3 colunas */
    grid-template-columns: repeat(3, 1fr);
    /* 2 linhas */
    grid-template-rows: repeat(2, 1r);
    gap: 5vw;
    padding: 25px;
}

.img-produto-temp {
    background-color: white;
    height: 15vw;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.produto {
    border-radius: 15px;
    border: 3px dashed;
    padding: 15px;
    border-image-source: linear-gradient(#8343dd, #e046be);
    border-image-slice: 1;
    color: white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.produto h2 {
    text-align: center;
    font-size: 1.5vw;
}

.produto h2:hover, .produto span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.produto p, .produto span {
    font-size: 1vw;
    text-align: center;
}

.produto span {
    color: lime;
}

/* responsividade para tablet */
@media (max-width: 800px) {
    .div-sobre-nos h1, 
    .div-maps h1,
    .div-detalhes-empresa h1,
    .div-video h1:not(.detalhes-escrita h1) {
        text-align: center;
        font-weight: 400;
        margin-top: 25px;
        font-size: 3.5vw;
        color: white;
    }

    .map-responsivo {
        width: 75vw;
        height: 500px;
    }

    .div-sobre-nos p, .div-detalhes-empresa section div p {
        font-size: 2.5vw;
        line-height: 25px;
    }

    .div-sobre-nos p {
        text-align: justify;
    }

    .div-detalhes-empresa section {
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
    }

    .div-detalhes-empresa section div {
        width: 75vw;
    }

    .div-detalhes-empresa section div h1 {
        font-size: 2.75vw;
    }

    footer nav ul li {
        font-size: 2vw;
        gap: 5px;
        cursor: pointer;
    }

    footer nav ul li img {
        height: 2vw;
    }

    .produto p, .produto span {
        font-size: 1.5vw;
        text-align: center;
    }
}

/* responsividade para mobile */
@media (max-width: 500px) {
    .logo img {
        height: 5vh;
    }

    header h1 {
        font-size: 10px;
    }

    header .lista ul {
        font-size: 10px;
    }

    .div-sobre-nos h1, 
    .div-maps h1,
    .div-detalhes-empresa h1,
    .div-video h1,
    .div-produtos h1:not(.detalhes-escrita h1) {
        font-size: 4.5vw;
    }

    .div-sobre-nos p, .div-detalhes-empresa section div p, .produto p, .produto span {
        font-size: 3vw;
        line-height: 20px;
    }

    .map-responsivo {
        width: 75vw;
        height: 250px;
    }

    .produto h2 {
        font-size: 3.5vw;
    }

    .grid-produtos {
        display: grid;
        /* 3 colunas */
        grid-template-columns: repeat(1, 1fr);
        /* 2 linhas */
        grid-template-rows: repeat(6, 1r);
        gap: 5vw;
        padding: 25px;
    }

    .produto {
        border-radius: 15px;
        border: 3px dashed;
        padding: 15px;
        border-image-source: linear-gradient(#8343dd, #e046be);
        border-image-slice: 1;
        color: white;
        width: 60vw;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .img-produto-temp {
        background-color: white;
        height: 50vw;
        width: 100%;
        margin: auto;
        border-radius: 10px;
    }
}